.info-window {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-40%);
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    z-index: 999;
    /* Other styles */
  }
  
  
  
  .close-button {
    top: 5px;
    right: 5px;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 16px;
    /* Other styles */
  }
  